html, body, #root {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: 'VT323', monospace;
  background: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.underlay {
  z-index: -1;
}

.underlay-logo {
  color: #18ba209f;
}
